{% extends 'base.html' %}
{% block title %}Administrative Report{% endblock %}
{% block content %}
	<h2>Revenue for Past 3 Months</h2>
	<table class="table">
	<thead>
	<tr>
		<th>Vehicle Sno</th>
		<th>Type</th>
		<th>Model</th>
		<th>Reservation Revenue</th>
		<th>Late Fees Revenue</th>
	</tr>
	</thead>
	<tbody>
	{% for (vsn, type, model, revenue, late) in data %}
	<tr>
		<td>{{ vsn }}</td>
		<td>{{ type }}</td>
		<td>{{ model }}</td>
		<td>{% if revenue %}${% endif %}{{ revenue }}</td>
		<td>{% if late %}${% endif %}{{ late }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
