{% extends 'base.html' %}
{% block title %}Car Availability{% endblock %}
{% block content %}
<form action="/availability" method="post">
	<input type="hidden" name="pickdatetime" value="{{ pickdatetime }}">
	<input type="hidden" name="returndatetime" value="{{ returndatetime }}">
	<table class="table">
	<thead>
	<tr>
		<th>Car Model</th>
		<th>Car Type</th>
		<th>Location</th>
		<th>Color</th>
		<th>Hourly Rate (Occasional Driving Plan)</th>
		<th>Discounted Rate (Frequent Driving Plan)</th>
		<th>Discounted Rate (Daily Driving Plan)</th>
		<th>Daily Rate</th>
		<th>Seating Capacity</th>
		<th>Transmission Type</th>
		<th>Bluetooth Connectivity</th>
		<th>Auxillary Cable Present</th>
		<th>Available Till</th>
		<th>Estimated Cost</th>
		<th></th>

	</tr>
	</thead>
	<tbody>
	{% for (vsno, CarModel,Type,CarLocation,Color,HourlyRate,DailyRate,Seating_Capacity,Transmission_Type,BluetoothConnectivity,Auxiliary_Cable) in cars %}
	<tr {% if CarLocation == location %} class="success" {% endif %}>
		<td>{{ CarModel }}</td>
		<td>{{ Type }}</td>
		<td>{{ CarLocation }}
			<input type="hidden" name="{{vsno}}location" value="{{ CarLocation }}"></td>
		<td>{{ Color }}</td>
		<td>{{ HourlyRate }}</td>
		<td>{{ HourlyRate - (HourlyRate * 0.10) }}</td>
		<td>{{ HourlyRate - (HourlyRate * 0.15) }}</td>
		<td>{{ DailyRate }}</td>
		<td>{{ Seating_Capacity }}</td>
		<td>{% if Transmission_Type %}Manual{% else %}Automatic{% endif %}</td>
		<td>{% if BlueToothConnectivity %}Yes{% else %}No{% endif %}</td>
		<td>{% if Auxiliary_Cable %}Yes{% else %}No{% endif%}</td>
		<td>{{ dic[vsno] }}</td>
		<td>{{ (discount * HourlyRate * hours) + (discount * DailyRate * days) }}
			<input type="hidden" name="{{vsno}}cost" value="{{ (discount * HourlyRate * hours) + (discount * DailyRate * days) }}"></td>
		<td><input type="radio" name="car" value="{{vsno}}"></td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
	<button type=submit class=btn>Rent</button>
</form>
{% endblock %}