{% extends 'base.html' %}
{% block title %}Location Preferences{% endblock %}
<form action= "" method="post">

{% block content %}
	<h2>Location Preferences: Last 3 Months</h2>
	<table class="table">
	<thead>
	<tr>
		<th>Month</th>
		<th>Location</th>
		<th>No. of Reservations</th>
		<th>Total # of Hours</th>
	</tr>
	</thead>
	<tbody>
	{% for (month,location,no_res,no_hours) in data %}
	<tr>
		<td>{{ month }}</td>
		<td>{{ location }}</td>
		<td>{{ no_res }}</td>
		<td>{{ no_hours }}</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>

</form>
{% endblock %}