{% extends 'base.html' %}
{% block title %}Maintenance Request{% endblock %}
{% block content %}
	<form action="" method="post">
		<p><label>Choose location :</label>
			<select name=location>
			{% for (loc) in locations %}
				<option value="{{ loc[0] }}">{{ loc[0] }}</option>	
			{% endfor %}
			</select>
		<label>Choose Model :</label>
			<select name=model>
			{% for (carmodel) in models %}
				<option value="{{carmodel[0]}}">{{carmodel[0]}}</option>	
			{% endfor %}
			</select>
		<label>Brief Description of Problem :</label><textarea name="comments" cols="25" rows="5">
		Enter your problems here...
		</textarea><br>
		<input type="request" value="Submit Request" />
		</form>
			
{% endblock %}
