{% extends 'base.html' %}
{% block title %}Maintenance Request{% endblock %}
{% block content %}
	<form action="" method="post">
		<p><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="Content-Script-Type" content="text/javascript">
<meta name="Content-Style-Type" content="text/css">
<title>Example</title>
</head>
<body>
<script type="text/javascript">
document.write ('<p>Current time is: <span id="date-time">', new Date().toLocaleString(), '<\/span>.<\/p>')
if (document.getElementById) onload = function () {
	setInterval ("document.getElementById ('date-time').firstChild.data = new Date().toLocaleString()", 50)
}
</script>
</body>
</html></p>
		<p><label>Choose car :</label>
			<select name=model>
			{% for (model) in models %}
				<option value="{{model[0]}}">{{ model[0] }}</option>	
			{% endfor %}
			</select>
		
		<label>Choose location :</label>
			<select name=location>
			{% for (loc) in locations %}
				<option value="{{ loc[0] }}">{{ loc[0] }}</option>	
			{% endfor %}
			</select>
		
		<label>Brief Description of Problem :</label><textarea name="problems" maxlength='45'>
		</textarea><br>
		<p><button type=submit class=btn>Sumbit Request</button>
		</form>
			
{% endblock %}
