{% extends 'base.html' %}
{% block title %}Manage Cars{% endblock %}
{% block content %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<div class="span5 well">
			<h3>Add Car</h3>
			<form action="" method="post">
			<p><label>Vehicle Sno :</label><input type=text name=vsno>
			<p><label>Car Model :</label><input type=text name=model>
			<p><label>Car Type :</label>
				<select name=type>
				{% for (types) in types %}
					<option value="{{ types[0] }}">{{ types[0] }}</option>	
				{% endfor %}
				</select>
			<p><label>Location :</label>
				<select name=location>
				{% for (loc) in locations %}
					<option value="{{ loc[0] }}">{{ loc[0] }}</option>	
				{% endfor %}
				</select>
			<p><label>Color :</label><input type=text name=color>
			<p><label>Hourly Rate :</label><input type=text name=hr>
			<p><label>Daily Rate :</label><input type=text name=daily>
			<p><label>Seating Capacity :</label><input type=text name=seat>
			<p><label> Transmission Type :</label>
				<select name=trans>
				<option value ="0">Automatic</option>
				<option value ="1">Manual</option>
				</select>
			<p><label>Bluetooth Connectivity :</label>
				<select name=blue>
				<option value ="0">No</option>
				<option value ="1">Yes</option>
				</select>
			<p><label>Auxillary Cable :</label>
				<select name=aux>
				<option value ="0">No</option>
				<option value ="1">Yes</option>
				</select>
			<p><button type=submit class=btn>Add</button>

	</form>
	</div>
	<div class="span5 well">
           	<h3>Change Car Location</h3>
           	<form action="" method="put">
			<p><label>Choose current location :</label>
               			<select name=locations id="location_selector">
               			{% for (loc) in locations %}
               				<option value="{{loc[0]}}">{{loc[0]}}</option>
               			{% endfor %}
               			</select>
               		<label>Choose Model :</label>

               	
				<select name=model id="location_mods">
					<option class="location_mods nil" value=""></option>
					{% for location, record in by_location.items() %}
						{% for vsn, model, location in record %}
						<option class="location_mods {{ location }}" value="{{vsn}}">{{ model }}</option>
						{% endfor %}
					{% endfor %}
				</select>

				
               		<p><label>Car Type :</label><input type=text name=carType>
               		<p><label>Color :</label><input type=text name=color></p>
               		<p><label>Seating Capacity :</label><input type=text name=seatCap></p>
               		<p><label>Transmission Type :</label><input type=text name=transType></p>
               		<p><label>Choose new location :</label>
               			<select name=newLocations>
               			{% for (loc) in locations %}
               				<option value="{{loc[0]}}">{{loc[0]}}</option>
               			{% endfor %}
               			</select>
               		<p><button type=submit class=btn>Submit Changes</button>
               		
           	

	</form>

	<script>
		$('#location_selector').change(function() {
			var value = $('#location_selector').val();
			value = value.replace(' ', '');
			console.log(value);
			$('.location_mods').hide();
			$('.' + value).show();
			$('.nil').show();
			$('#location_mods').val('');
		});
	</script>

{% endblock %}
