{% extends 'base.html' %}
{% block title %}Rental Info{% endblock %}
<form action= "" method="post">

{% block content %}
	<form method="post" action="">
	<table class="table">
	<thead>
	<tr>
		<th>PickUp Time</th>
		<th>Return Time</th>
		<th>Car</th>
		<th>Location</th>
		<th>Amount</th>
		<th>Extend?</th>

	</tr>
	</thead>
	<tbody>
	{% for (vsn, pick_time, ret_time, car, location, amount, ret_stat) in current %}
	<tr>
		<td>{{ pick_time }}</td>
		<td>{{ ret_time }}</td>
		<td>{{ car }}</td>
		<td>{{ location }}</td>
		<td>{{ amount }}</td>
		<td><input type="radio" name="extend" value="{{ vsn }}"></td>
	</tr>
	{% endfor %}
	</tbody>
	</table>

	<p><select name=extenddate>
			{% for (date) in dates %}
				<option value="{{ date }}">{{ date }}</option>	
			{% endfor %}
		</select>
		<select name=extendhour class="input-mini">
			{% for x in range(0, 24) %}
				<option value="{{ x }}">{{ x }}</option>
			{% endfor %}
		</select>:
		<select name=extendmin class="input-mini">
			<option value ="00" >:00</option>
			<option value ="30" >:30</option>
		</select>
		<button type=submit class=btn>Extend</button>
	</form>
	<p><h3>Rental History</h3></p>
	<table class="table">
	<thead>
	<tr>
		<th>PickUp Time</th>
		<th>Return Time</th>
		<th>Car</th>
		<th>Location</th>
		<th>Cost</th>
		<th>Return Status</th>

	</tr>
	</thead>
	<tbody>
	{% for (pick_time, ret_time,car,location,amount,ret_stat) in all_res %}
	<tr>
		<td>{{ pick_time }}</td>
		<td>{{ ret_time }}</td>
		<td>{{ car }}</td>
		<td>{{ location }}</td>
		<td>{{ amount }}</td>
		<td>{{ ret_stat }}</td>

</form>
	</tr>
	{% endfor %}
	</tbody>
	</table>

{% endblock %}