{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
	<form action="" method="post">
	
	<label>Pick Up Date and Time</label>
		<select name=pickdate>
			{% for (pick) in pick %}
				<option>{{ pick }}</option>	
			{% endfor %}
			<option value ="04-20-2013" >04-20-2013</option>
			<option value ="04-21-2013" >04-21-2013</option>
			<option value ="04-22-2013" >04-22-2013</option>
			<option value ="04-23-2013" >04-23-2013</option>
			<option value ="04-24-2013" >04-24-2013</option>
			<option value ="04-25-2013" >04-25-2013</option>
			<option value ="04-26-2013" >04-26-2013</option>
			<option value ="04-27-2013" >04-27-2013</option>
			<option value ="04-28-2013" >04-28-2013</option>
			<option value ="04-29-2013" >04-29-2013</option>
			<option value ="04-30-2013" >04-30-2013</option>
			<option value ="05-01-2013" >05-01-2013</option>
			<option value ="05-02-2013" >05-02-2013</option>
		</select>
		<select name=picktime>
			<option value ="00:00" >00:00</option>
			<option value ="00:30" >00:30</option>
		</select>
	<label>Return Date and Time</label>
		<select name=returndate>
			{% for (ret) in ret %}
				<option>{{ ret }}</option>	
			{% endfor %}
			<option value ="04-20-2013" >04-20-2013</option>
			<option value ="04-21-2013" >04-21-2013</option>
			<option value ="04-22-2013" >04-22-2013</option>
			<option value ="04-23-2013" >04-23-2013</option>
			<option value ="04-24-2013" >04-24-2013</option>
			<option value ="04-25-2013" >04-25-2013</option>
			<option value ="04-26-2013" >04-26-2013</option>
			<option value ="04-27-2013" >04-27-2013</option>
			<option value ="04-28-2013" >04-28-2013</option>
			<option value ="04-29-2013" >04-29-2013</option>
			<option value ="04-30-2013" >04-30-2013</option>
			<option value ="05-01-2013" >05-01-2013</option>
			<option value ="05-02-2013" >05-02-2013</option>
		</select>
		<select name=returntime>
			<option value ="00:00" >00:00</option>
			<option value ="00:30" >00:30</option>
		</select>
	<label>Location</label>
		<select name=location>
		{% for (location) in data %}
			<option>{{ location }}</option>
		
		{% endfor %}
		</select>
	<p><button type=submit class=btn>Search Location</button>
	<a href="{{ url_for('rent') }}">Reset?</a>
	<br><br><br><br><br>
	<label>Sort By Models</label>
		<select name=cars>
		{% for (carmodel) in models %}
			<option>{{ carmodel }}</option>		
		{% endfor %}
		</select>
	<label>or Sort by Types</label>
		<select name=cars>
		{% for (types) in types %}
			<option>{{ types }}</option>	
		{% endfor %}
		</select>

	</form>
{% endblock %}