{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
	<form action="" method="post">
	
	<label>Pick Up Date and Time</label>
		<select name=pickdate>
			<option value ="04/12/2013" >04/12/2013</option>
		</select>
		<select name=picktime>
			<option value ="00:00" >00:00</option>
			<option value ="00:30" >00:30</option>
		</select>
	<label>Return Date and Time</label>
		<select name=pickdate>
			<option value ="04/12/2013" >04/12/2013</option>
		</select>
		<select name=picktime>
			<option value ="00:00" >00:00</option>
			<option value ="00:30" >00:30</option>
		</select>
	<label>Location</label>
		<select name=location>
			<option value ="Peters" >Peters</option>
		</select>
	
	<label>Cars</label>
		<select name=cars>
			<option value ="Peters" >Peters</option>
		</select>
	
	</form>
	<a href="{{ url_for('register') }}">New User?</a>
{% endblock %}